<h1 class="text-center my-24 text-xl">Bienvenido <b>{{name}}</b></h1>
    <ul class="pt-1 flex">
        <li class="nav-item flex-1">
            <a href="/Historial" class="nav-link font-semibold text-black hover:text-yellow-600 py-3 px-4 rounded-md w-full">Historial</a>
        </li>
        <li class="nav-item flex-1">
            <a href="/Transferencia" class="nav-link font-semibold text-black hover:text-yellow-600 py-3 px-4 rounded-md w-full">Transferencias</a>
        </li>
        <li class="nav-item flex-1">
            <a href="/Credito" class="nav-link font-semibold text-black hover:text-yellow-600 py-3 px-4 rounded-md w-full">Simulador de Crédito</a>
        </li>
        <li class="nav-item flex-1">
            <a href="/Cuenta" class="nav-link font-semibold text-black hover:text-yellow-600 py-3 px-4 rounded-md w-full">Cuenta</a>
        </li>
    </ul>
</div>
